body
{
    background-color: #eeeeee;
    font-family: "Ubuntu Mono", Arial, Helvetica, sans-serif, "Microsoft YaHei";
    font-size: larger;
    font-weight: normal;
}

.register-input-div
{

    margin-top: 2rem;
}
.register-form
{
    padding: 3rem;
}

