{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'default/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'default/css/default.css' %}">
    <script src="{% static 'default/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'default/js/popper.min.js' %}"></script>
    <script src="{% static 'default/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'default/js/default.js' %}"></script>
    <title> {{ site_name }} {% block title %} {% endblock %} </title>
    {% block head %} {% endblock head %}
</head>

<body class="container">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">{{ site_name }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">{% trans 'Home' %} <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">{% trans 'About' %}</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input id="nav-search-input" class="form-control mr-sm-2" type="search" placeholder="{% trans 'Search' %}">
            <button id="nav-search-btn" class="btn my-2 my-sm-0 btn-outline-light" type="submit">{% trans 'Search' %}</button>
        </form>
    </div>
</nav>

{% block body %} {% endblock body %}
</body>

<footer>
    {% block footer %} {% endblock footer %}
</footer>

</html>